<div>
  <nav class="navbar navbar-light bg-faded">
    <div class="container">
      <a class="navbar-brand" routerLink = "">
        <img src="/assets/logo.png" />
      </a>
      <a a href="#"><img src="/assets/carrinho.png" /></a>
    </div>
  </nav>

  <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link " routerLinkActive = "active" routerLink = "/restaurantes">Restaurantes</a> <!--Diretiva routerLink atribui o link 
            passado como valor para a barra de navegação. -->
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive = "active" routerLink = "/diversao">Diversão</a> <!--routerLinkActive só ativa (da destaque no texto) o 
            elemento onde estiver com o link ativo no momento.-->
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner">
  <img src="/assets/banners/img_1.jpg" />
</div>