<!--MODAL-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content" *ngIf="progressoPost === 'pendente'">
			<form [formGroup]="formModalPosts" (ngSubmit)="publicarPost()">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Publicar</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="text" class="form-control" placeholder="Titulo da sua publicação" formControlName="titulo">
					<input type="file" class="form-control mt-4" accept="image/*" (change)="prepararArquivoPost(fileUpload.files)"
						#fileUpload>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="formModalPosts.reset()"
						data-dismiss="modal">Fechar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>

		<div class="modal-dialog" role="document">
			<div class="modal-content" *ngIf="progressoPost === 'andamento'">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Publicando</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Progresso: {{porcentagemProgresso}}%
					<div class="progress">
						<div class="progress-bar w-{{porcentagemProgresso}}"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal-dialog" role="document">
			<div class="modal-content" *ngIf="progressoPost === 'concluido'">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Publição enviada!</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Sua Publicação foi realizada com sucesso!
				</div>
			</div>
		</div>